:root {
  --bg-color: #212730;
  --text-color: #44A1A0
}
* {
  font-family: 'Roboto', sans-serif; 
  background-color: var(--bg-color);
  color: white;
}

h1 {
  font-size: 5rem;
  padding: none;
  letter-spacing: 0.2rem;
}

.helloTxt {
  color: var(--text-color);
  letter-spacing: 0.2rem;
}
p {
  font-size: 1.5rem;
  
}
.landingSection {
  height: 100vh;
  margin: auto;
  padding: 12rem 0;
  background-color: var(--bg-color);
  color: white;
}

.introContainer {
  margin:0 auto;
  text-align: center;
}



.socialIconContainer {
  width: 10%;
}
.socialIcons {
  float: left;
  width: 33.33%;
}



a {
  text-decoration: none;
}

a:hover {
  color:  var(--text-color)
}


.navLink {
  color: white;
}

.navLink:hover {
  color: var(--text-color);
}

.subSectionHeader {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-bottom:2rem;
}

.aboutMe {
  margin: 0 auto;
  width: 75%;
}

.skills {
 
}

.skillsContainer {
  margin: 0 auto;
  display: flex; 
  width: 70%;
  text-align: center;
}

.skillColumnHeader {
  text-align: center;
}
.skillColumnHeader {
  padding-bottom: 1rem;
}
.skillColumn {
  width: 33.33%;
  text-align: left;
  padding-left: 2rem;
}

.skillTxtContainer {
  line-height: 0.95rem;
  border-right: 1px solid white;
  height: 75%;
  text-align: left;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color: var(--text-color)
}

@media screen and  (max-width: 1024px) {
    h1 {
      font-size: 2em;
      font-weight: bold;
    }
    .landingSection {
      height: 100vh
    }
    .helloTxt {
      font-size: 1em;
    }

    .developerTxt {
      font-size: 1em;
    }

    .socailIconContainer {
      width: 100%;
    }

    .socialIcons {
      display: none;
    }

    .aboutSection {
      height: none;
    }

    .skills {
      width: 100%;
      margin: 0 auto;
      justify-content: center;
     
    }

    .skillsContainer {
      flex-direction: column;
      width: 100%;
      justify-self: center;
      margin: 0 auto;
      
    }

    .skillTxtContainer {
      line-height: 1.95rem;
      height: 100%;
      text-align: center;
      border-right: none;
    }

    .skillColumn {
      width: 100%;
    }

    .skillColumnHeader {
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
}